*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

select{
    width: 100%;
    height: 30px;
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(255, 211, 211, 0.274);
    
}

.container{
    max-width: 1000px;
    padding: 50px;
    border-radius: 20px;
    background-color: #e5cbeb;

}

.container:hover{
    background-color: rgba(0, 195, 255, 0.171);
    transition: background-color 1.5s, box-shadow 1.5s;
}

.container:not(:hover) {
    background-color: rgba(68, 0, 255, 0.466);
    transition: background-color 2.5s, box-shadow 3.5s;
}

.cat{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info{
    margin-top: 10px;
    margin-left: 30px;
    max-width: 500px;
}

.subtitle{
    font-weight: bold;  
}

.error, .loader{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    padding: 10px;
    border-radius: 50px;
}

.loader{
    background-color: rgb(127, 229, 255);
}

.hidden{
    display: none;
}